.self-container {
  width: 600px;
  height: 400px;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-bottom: 20px;
}
.self-container .self-title {
  width: 100%;
  height: auto;
  background-color: #2399ed;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
}
.self-container .self-title span {
  font-size: 18px;
  color: white;
}
.self-container .self {
  width: 100%;
  text-align: center;
}
.self-container .self i {
  font-size: 40px;
  line-height: 100px;
}
.self-container .self p {
  font-size: 16px;
}
