<div class="page-setting">
  <div class="page-head">
    <span>員工管理</span>
    <span>/</span>
    <span class="sub">部門列表</span>
  </div>
  <div class="page-body">
    <div class="page-sidebar">
      <ul>
        <li *ngFor="let list of menu">
          <i *ngIf="list.subMenu && !list.switchStatus" style="margin-left: 30px;" class="anticon anticon-caret-right" (click)="showSubList(list.id)"></i>
          <i *ngIf="list.subMenu && list.switchStatus" style="margin-left: 30px;" class="anticon anticon-caret-down" (click)="showSubList(list.id)"></i>
          <div style="width: 20px;height: 20px;float: left;margin-left: 30px;" *ngIf="!list.subMenu" class="clearfix"></div>
          <span [id]="'menu' + list.id" (click)="goSetting(list.id)">{{list.title}}</span>
          <ul *ngIf="list.subMenu && list.switchStatus">
            <li *ngFor="let subList of list.subMenu">
              <i *ngIf="list.subMenu && !list.switchStatus" style="margin-left: 30px;" class="anticon anticon-caret-right" (click)="showSubListMenu(list.id)"></i>
              <i *ngIf="list.subMenu && list.switchStatus" style="margin-left: 30px;" class="anticon anticon-caret-down" (click)="showSubListMenu(list.id)"></i>
              <span [id]="'menu' + subList.id" (click)="goSetting(subList.id)"> {{subList.title}}</span>
              <ul *ngIf="subList.subMenu">
                <li *ngFor="let sub of subList.subMenu" style="padding-left: 68px;">
                  <span [id]="'menu' + sub.id" (click)="goSetting(sub.id)"> {{sub.title}}</span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="page-main">
      <form nz-form [formGroup]="pageForm">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="name" nz-form-item-required>
              <span>
                Name
                <!-- <nz-tooltip [nzTitle]="'What do you want other to call you'">
                  <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                </nz-tooltip> -->
              </span>
            </label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'"></nz-input>
            <!-- <div nz-form-explain *ngIf="getFormControl('nickname').dirty&&getFormControl('nickname').hasError('required')">Please input your nickname!</div> -->
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="orderBy" nz-form-item-required>
              <span>
                Orderby
              </span>
            </label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="orderBy"></nz-input>
          </div>
        </div>
        <div style="margin: 0 auto;width: 400px;display: flex; justify-content: space-around;">
          <button type="submit" [nzType]="'primary'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 96px;margin: 0 auto;display: block;">
            <span>確認</span>
          </button>
          <button type="button" [nzType]="'primary'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 96px;margin: 0 auto;display: block;">
            <span>新增</span>
          </button>
          <button type="button" [nzType]="'danger'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 96px;margin: 0 auto;display: block;">
            <span>刪除</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>