
<div class="client-details">
  <nz-tabset [nzSize]="'small'" [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="changeTab([$event])" style="width: 100%;overflow: auto;padding: 20px;box-sizing: border-box;">
    <nz-tab *ngFor="let tab of tabs">
      <ng-template #nzTabHeading>
        <span style="line-height: 50px;">{{tab.name}}</span>
      </ng-template>
    </nz-tab>
  </nz-tabset>
  <div class="switch-container">
    <app-teacher-basic [ngStyle]="{'display':selectedIndex === 0?'block':'none'}" [editStatus]="editStatus"></app-teacher-basic>
    <app-teacher-bill [ngStyle]="{'display':selectedIndex === 1?'block':'none'}"></app-teacher-bill>
    <app-teacher-rela [ngStyle]="{'display':selectedIndex === 2?'block':'none'}"></app-teacher-rela>
    <app-teacher-info [ngStyle]="{'display':selectedIndex === 3?'block':'none'}"></app-teacher-info>
    <app-teacher-education [ngStyle]="{'display':selectedIndex === 4?'block':'none'}"></app-teacher-education>
    <app-teacher-history [ngStyle]="{'display':selectedIndex === 5?'block':'none'}"></app-teacher-history>
    <app-teacher-other [ngStyle]="{'display':selectedIndex === 6?'block':'none'}"></app-teacher-other>
    <app-teacher-area [ngStyle]="{'display':selectedIndex === 7?'block':'none'}"></app-teacher-area>
    <app-teacher-self [ngStyle]="{'display':selectedIndex === 8?'block':'none'}"></app-teacher-self>
  </div>
  <div class="fns">
    <button *ngIf="!editStatus" (click)="changeEditStatus()" type="button" [nzType]="'primary'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 110px;display: block;">
      <span>編輯導師信息</span>
    </button>
    <button *ngIf="editStatus" (click)="finishEdit()" type="button" [nzType]="'primary'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 110px;display: block;">
      <span>完成</span>
    </button>
    <button *ngIf="editStatus" (click)="cancelEdit()" type="button" [nzType]="'danger'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 110px;display: block;">
      <span>取消</span>
    </button>
    <button type="button" [nzType]="'primary'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 110px;display: block;">
      <span>審核該導師</span>
    </button>
    <button type="button" [nzType]="'primary'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 110px;display: block;">
      <span>加入凍結名單</span>
    </button>
    <button type="button" [nzType]="'primary'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 110px;display: block;">
      <span>加入黑名單</span>
    </button>
  </div>
</div>