.list-func {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.list-func .func-right {
  float: right;
}
.list-func .select {
  width: 180px;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.list-func .select span {
  font-size: 14px;
  color: #232323;
  line-height: 32px;
}
.list-func .select nz-select {
  flex-grow: 1;
  margin-top: 3px;
}
.client-details {
  width: 100%;
  height: 630px;
  overflow: hidden;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.client-details .fns {
  clear: both;
  padding-bottom: 40px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.client-details .fns button {
  margin-left: 40px;
}
