.class-record {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 20px;
}
.class-record .class-record-table {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 1px solid #b3b3b3;
}
.class-record .class-record-table .class-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.class-record .class-record-table .class-info span {
  color: #ed2724;
}
.class-record .class-record-add {
  width: 100%;
  margin-top: 20px;
}
