.submit-presearch {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.submit-presearch .submit-title {
  background-color: #2399ed;
  text-align: center;
  flex-grow: 0;
}
.submit-presearch .submit-title p {
  font-size: 14px;
  color: white;
  line-height: 28px;
}
.submit-presearch form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-presearch form .submit-container {
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}
.submit-presearch form .submit-button {
  margin-bottom: 20px;
}
