.page-setting {
  width: 1300px;
  height: 705px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-left: 40px;
  margin-top: 20px;
}
.page-setting .page-head {
  width: 100%;
  text-align: left;
  padding: 0 34px;
  box-sizing: border-box;
  background-color: #2399ed;
}
.page-setting .page-head span {
  color: white;
  font-size: 22px;
  line-height: 50px;
}
.page-setting .page-head .sub {
  font-size: 18px;
}
.page-setting .page-body {
  width: 100%;
  height: 655px;
}
.page-setting .page-body .page-sidebar {
  width: 300px;
  float: left;
  height: 100%;
  border-right: 1px solid #e1e1e1;
  padding-top: 36px;
  box-sizing: border-box;
}
.page-setting .page-body .page-sidebar ul li {
  font-size: 16px;
}
.page-setting .page-body .page-sidebar ul li span {
  line-height: 40px;
}
.page-setting .page-body .page-sidebar ul li ul li {
  padding-left: 68px;
  box-sizing: border-box;
}
.page-setting .page-body .page-sidebar ul li ul li span {
  line-height: 40px;
}
.page-setting .page-body .page-sidebar ul li:hover {
  background-color: #2399ed;
}
.page-setting .page-body .page-sidebar ul li:hover span {
  color: white;
}
.page-setting .page-body .page-sidebar ul li:hover i {
  color: white;
}
.page-setting .page-body .page-sidebar ul li:hover ul {
  background-color: white;
}
.page-setting .page-body .page-sidebar ul li:hover ul li span {
  color: rgba(0, 0, 0, 0.7);
}
.page-setting .page-body .page-sidebar ul li:hover ul li:hover span {
  color: white;
}
.page-setting .page-body .page-main {
  width: 1000px;
  float: right;
  padding-top: 40px;
  box-sizing: border-box;
}
