<!-- <nz-card style="width:240px;margin: 0 auto;margin-top: 10px;">
  <ng-template #title>
    <i class="anticon anticon-notification"></i>
    通知
  </ng-template>
  <ng-template #extra>
  </ng-template>
  <ng-template #body>
    <p>你有51個未追收款項</p>
  </ng-template>
</nz-card> -->

<div class="notice">
  <div class="notice-title">
    <p>提醒</p>
  </div>
  <div class="notice-body">
      <!-- <li *ngFor="let memo of memoList">
        <p>{{memo.memo}}</p>
      </li> -->
    <p>你有51個未追收款項</p>
  </div>
</div>