 .list-func {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    .func-right {
        float: right;
    }
    .select {
        width: 180px;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        span {
            font-size: 14px;
            color: #232323;
            line-height: 32px;
        }
        nz-select {
            flex-grow: 1;
            margin-top: 3px;
        }
    }
}
.client-details {
    width: 100%;
    // height: auto;
    height: 630px;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.15);
    background-color: white;
    // min-height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     .fns {
        // width: 848px;
        // height: auto;
        // overflow: hidden;
        clear: both;
        padding-bottom: 40px;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        button {
            // float: left;
            margin-left: 40px;
        }
        button:last-child {
            // margin-left: 40px !important;
        }
    }
}