<div class="client-search">
  <form nz-form [formGroup]="searchForm">
    <div class="left">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="clientNo">
            <span>賬戶編號</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="clientNo"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="name">
            <span>姓名</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="name"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="idCardNo">
            <span>身份證ID</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="idCardNo"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="idCardName">
            <span>身份證中文姓名</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="idCardName"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="familyPhone">
            <span>家庭電話</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="familyPhone"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="fax">
            <span>傳真電話</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="fax"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="livingArea">
            <span>居住地區</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="livingArea"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="follow">
            <span>跟進員工</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="livingArea"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="language">
            <span>主要語言</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="language"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="belief">
            <span>宗教信仰</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="belief"></nz-input>
        </div>
      </div>
    </div>
    <div class="right">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="email">
            <span>Email地址</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="email"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="sex">
            <span>性別</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-select style="width: 120px;" formControlName="sex" [nzPlaceHolder]="'選擇性別'" nzAllowClear>
            <nz-option *ngFor="let option of sexOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="idCardEnName">
            <span>身份證英文姓名</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="idCardEnName"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="mobilePhone">
            <span>手提電話</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="mobilePhone"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="otherPhone">
            <span>其他電話</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="otherPhone"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="birth">
            <span>出生年月</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-datepicker [nzMode]="'month'" formControlName="birth" [nzPlaceHolder]="'選擇出生年月'"></nz-datepicker>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="mailAddress">
            <span>郵寄地址</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="mailAddress"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="registerTime">
            <span>註冊時間</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="registerTime"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="clientStatus">
            <span>賬戶狀態</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="clientStatus"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="nationality">
            <span>國籍</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="nationality"></nz-input>
        </div>
      </div>
    </div>
  </form>
</div>