<div class="page-setting">
  <div class="page-head">
    <span>員工管理</span>
    <span>/</span>
    <span class="sub">權限設置</span>
  </div>
  <div class="page-body">
    <div class="page-sidebar">
      <div class="page-sidebar-title">
        <p>員工職位</p>
      </div>
      <!-- <nz-collapseset [nzBordered]="false" [nzAccordion]="true">
        <nz-collapse style="border: none;" *ngFor="let list of menu" [nzTitle]="list.name" [nzActive]="list.active">
            <nz-collapseset [nzBordered]="false" [nzAccordion]="true">
              <nz-collapse *ngFor="let listChildren of list.children" [nzTitle]="listChildren.name" [nzActive]="listChildren.active">
                <nz-collapseset [nzBordered]="false" [nzAccordion]="true">
                  <nz-collapse *ngFor="let listChildren3 of listChildren.children" [nzTitle]="listChildren3.name" [nzActive]="listChildren3.active">
                    <div *ngIf="listChildren3.children.length > 0">
                      <nz-collapseset [nzBordered]="false" [nzAccordion]="true"> -->

                        <!-- <nz-collapse *ngFor="let listChildren4 of listChildren3.children" [nzTitle]="listChildren4.name" [nzActive]="listChildren4.active"> -->
                            <!-- <nz-collapseset [nzBordered]="false" [nzAccordion]="true">
                              <nz-collapse *ngFor="let listChildren5 of listChildren4.children" [nzTitle]="listChildren5.name" [nzActive]="listChildren5.active">
                              </nz-collapse>
                            </nz-collapseset> -->
                        <!-- </nz-collapse> -->

                        <!-- <ul *ngFor="let listChildren4 of listChildren3.children">
                          <li [id]="'employeeId' + listChildren4.id" (click)="selectPeople(listChildren4.id, listChildren4.name)" class="noChild">{{listChildren4.name}}</li>
                        </ul>
                      </nz-collapseset>
                    </div>
                  </nz-collapse>
                </nz-collapseset>
              </nz-collapse>
            </nz-collapseset>
        </nz-collapse>
      </nz-collapseset> -->

      <p-panelMenu [model]="menu"></p-panelMenu>


    </div>
    <div class="page-menu">
      <div class="page-menu-title">
        <p>各級頁面</p>
      </div>
      <div class="page-menu-container">
        <nz-collapseset [nzBordered]="false" [nzAccordion]="true">
          <nz-collapse *ngFor="let list of pageMenu" [nzTitle]="list.name" [nzActive]="list.active">
            <ul *ngFor="let listChildren of list.children">
              <li [id]="'pageId' + listChildren.id" (click)="selectPage(listChildren.id, listChildren.name, list.id)" class="noChild">{{listChildren.name}}</li>
            </ul>
          </nz-collapse>
        </nz-collapseset>
      </div>
    </div>
    <div class="page-main">
      <div class="page-main-title">
        <p>權限管理</p>
      </div>
      <div class="page-main-container">
        <div class="selected-info">
          <p *ngIf="selectedEmployee">已選擇員工：{{selectedEmployee}}</p>
          <p *ngIf="selectedPage">已選擇頁面：{{selectedPage}}</p>
        </div>
        <!-- <form [formGroup]="authForm"> -->
          <div class="access_auth">
            <p>訪問權限</p>
            <label style="float: left;width: 100%;" nz-checkbox [(ngModel)]="authAccess">
              <span>訪問</span>
            </label>
          </div>
          <div class="query_auth" *ngIf="authQueryList?.length > 0">
            <p>查詢權限</p>
            <nz-radio-group >
              <label style="float: left;" *ngFor="let query of authQueryList" nz-radio [nzValue]="query.value">
                <span style="line-height: 32px;">{{query.name}}</span>
              </label>
            </nz-radio-group>
          </div>
          <div class="operate_auth" *ngIf="authOperateList?.length > 0">
            <p>操作權限</p>
            <label style="float: left;" [(ngModel)]="operate.value" *ngFor="let operate of authOperateList" style="width: 100%;" nz-checkbox>
              <span>{{operate.name}}</span>
            </label>
          </div>
        <!-- </form> -->
        <button [nzType]="'primary'" nz-button nzGhost style="border-radius: 17px;height: 34px;width: 96px;margin: 0 auto;display: block;">
          <span>確認</span>
        </button>
      </div>
    </div>
  </div>
</div>