<div class="login" nz-row [nzType]="'flex'" [nzJustify]="'center'">
  <form nz-col [nzSpan]="6" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
    <div nz-form-item>
      <div nz-form-control>
        <nz-input formControlName="userName">
          <ng-template #prefix>
            <span>帳號</span>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">Please input your username!</div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control>
        <nz-input formControlName="password" [nzType]="'password'">
          <ng-template #prefix>
            <span>密碼</span>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control>
        <button nz-button nzGhost class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登錄</button>
      </div>
    </div>
  </form>
</div>