.login {
  height: 100%;
  align-items: center;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#f0f0f0));
}
.login :host ::ng-deep .ant-input {
  border-radius: 16px;
}
.login .ant-input {
  border-radius: 16px !important;
}
.login .ant-form-item-control {
  border-radius: 16px;
}
.login nz-input {
  height: 32px;
  border-radius: 16px;
}
.login nz-input input {
  border-radius: 16px;
}
.login .login-form-button {
  width: 100%;
}
