<div class="teacher-list">
  <div class="list-func">
    <div class="func-left">
      <button (click)="searchTeacher()" [nzType]="'primary'" nz-button nzGhost style="width: 98px;height: 32px;border-radius: 16px;font-size: 14px;margin-right: 20px;">
        搜索
        <i class="anticon anticon-search" style="font-size: 14px;"></i>
      </button>
      <div class="quick-search">
        <nz-input [nzType]="'search'" [nzPlaceHolder]="'快速搜索'" [(ngModel)]="quickSearchValue" style="width: 200px;" (nzOnSearch)="quickSearch($event)"></nz-input>
      </div>
    </div>
    <div class="func-right">
      <div class="select">
        <span>地區類別：</span>
        <nz-select style="height: 32px;" [(ngModel)]="districtSelectedOption" [nzPlaceHolder]="'選擇地區'">
          <nz-option *ngFor="let option of districtOptions" [nzLabel]="option.label" [nzValue]="option">
          </nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div class="list-container">
    <nz-table #nzTable [(nzPageIndex)]="currentPage" [nzDataSource]="teacherList" [nzTotal]="teacherList.length" [nzPageSize]="15" style="max-width: 900px;max-height: 600px;">
      <thead nz-thead>
        <tr>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'60px'">
            <span>導師編號</span>
          </th>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'40px'">
            <span>姓名</span>
          </th>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'20px'">
            <span>性別</span>
          </th>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'60px'">
            <span>手提電話</span>
          </th>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'20px'">
            <span>最高學歷</span>
          </th>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'20px'">
            <span>現時職業</span>
          </th>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'100px'">
            <span>最後修改日期</span>
          </th>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'60px'">
            <span>居住地區</span>
          </th>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'60px'">
            <span>現有個案</span>
          </th>
          <th nz-th style="text-align: center;background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.15);" [nzWidth]="'60px'">
            <span>導師狀態</span>
          </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data" (click)="getDetails(data.id)" style="cursor: pointer;">
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.no}}</td>
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.name}}</td>
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.sex}}</td>
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.phone}}</td>
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.education}}</td>
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.profession}}</td>
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.editTime}}</td>
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.livingArea}}</td>
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.latestCase}}</td>
          <td nz-td style="padding: 8px 0;text-align: center;">{{data.status}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>