@media screen and (min-width: 1025px) {
  .teacher-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .teacher-list .list-func {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .teacher-list .list-func .func-left {
    width: 415px;
    height: auto;
    overflow: hidden;
    float: left;
    display: flex;
    justify-content: space-between;
  }
  .teacher-list .list-func .func-right {
    float: right;
  }
  .teacher-list .list-func .select {
    width: 180px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  .teacher-list .list-func .select span {
    font-size: 14px;
    color: #232323;
    line-height: 32px;
  }
  .teacher-list .list-func .select nz-select {
    flex-grow: 1;
    margin-top: 3px;
  }
  .teacher-list .list-container {
    flex-grow: 1;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: white;
  }
}
@media screen and (max-width: 1024px) {
  .teacher-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .teacher-list .list-func {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 5px;
  }
  .teacher-list .list-func .func-left {
    width: 415px;
    height: auto;
    overflow: hidden;
    float: left;
    display: flex;
    justify-content: space-between;
  }
  .teacher-list .list-func .func-left button {
    font-size: 14px !important;
    line-height: 28px !important;
  }
  .teacher-list .list-func .func-right {
    float: right;
  }
  .teacher-list .list-func .select {
    width: 180px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  .teacher-list .list-func .select span {
    font-size: 14px;
    color: #232323;
    line-height: 28px;
  }
  .teacher-list .list-func .select nz-select {
    flex-grow: 1;
  }
  .teacher-list .list-container {
    flex-grow: 1;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: white;
  }
}
