<div class="education">
  <nz-tabset [(nzSelectedIndex)]="selectedIndex" [nzTabPosition]="'top'" [nzType]="'card'" [nzSize]="'small'">
    <nz-tab *ngFor="let tab of tabs">
      <ng-template #nzTabHeading>
        <span>{{tab.name}}</span>
      </ng-template>
      <div class="switch-container" [ngSwitch]="selectedIndex">
        <app-education-middle [ngStyle]="{'display': selectedIndex === 0? 'block': 'none'}"></app-education-middle>
        <app-education-history [ngStyle]="{'display': selectedIndex === 4? 'block': 'none'}"></app-education-history>
      </div>
    </nz-tab>
  </nz-tabset>
</div>