<div class="client-add">
  <form nz-form [formGroup]="clientForm">
    <div class="left">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="name" nz-form-item-required>
            <span>姓名</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="name" [nzPlaceHolder]="'輸入姓名'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="idCardNo">
            <span>身份證ID</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="idCardNo" [nzPlaceHolder]="'輸入身份證ID'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="idCardName">
            <span>身份證中文姓名</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="idCardName" [nzPlaceHolder]="'輸入身份證中文姓名'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="familyPhone">
            <span>家庭電話</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="familyPhone" [nzPlaceHolder]="'輸入家庭電話'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="fax">
            <span>傳真電話</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="fax" [nzPlaceHolder]="'輸入傳真電話'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="livingArea">
            <span>居住地區</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <!-- <nz-input [nzSize]="'large'" formControlName="livingArea"></nz-input> -->
          <nz-cascader 
          [nzExpandTrigger]="'hover'" 
          [nzOptions]="livingArea" 
          [nzAllowClear]="false" 
          [nzPlaceHolder]="'選擇居住地區'">
          </nz-cascader>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="language">
            <span>主要語言</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <!-- <nz-input [nzSize]="'large'" formControlName="language"></nz-input> -->
          <nz-select style="width: 120px;" formControlName="language" [nzPlaceHolder]="'選擇主要語言'" nzAllowClear>
            <nz-option *ngFor="let option of languageOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="belief">
            <span>宗教信仰</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <!-- <nz-input [nzSize]="'large'" formControlName="belief"></nz-input> -->
          <nz-select style="width: 120px;" formControlName="belief" [nzPlaceHolder]="'選擇宗教信仰'" nzAllowClear>
            <nz-option *ngFor="let option of beliefOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div class="right">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="email">
            <span>Email地址</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="email" [nzPlaceHolder]="'輸入Email地址'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="sex">
            <span>性別</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-select style="width: 120px;" formControlName="sex" [nzPlaceHolder]="'選擇性別'" nzAllowClear>
            <nz-option *ngFor="let option of sexOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="idCardEnName">
            <span>身份證英文姓名</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="idCardEnName" [nzPlaceHolder]="'輸入身份證英文姓名'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="mobilePhone" nz-form-item-required>
            <span>手提電話</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="mobilePhone" [nzPlaceHolder]="'輸入手提電話'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="otherPhone">
            <span>其他電話</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="otherPhone" [nzPlaceHolder]="'輸入其他電話'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="birth">
            <span>出生日期</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-datepicker [nzMode]="'day'" formControlName="birth" [nzPlaceHolder]="'選擇出生日期'"></nz-datepicker>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="mailAddress">
            <span>郵寄地址</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="mailAddress" [nzPlaceHolder]="'輸入郵寄地址'"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="nationality">
            <span>國籍</span>
          </label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <nz-input [nzSize]="'large'" formControlName="nationality" [nzPlaceHolder]="'輸入國籍'"></nz-input>
          <!-- <nz-select style="width: 120px;" formControlName="nationality" [nzPlaceHolder]="'選擇國籍'" nzAllowClear>
            <nz-option *ngFor="let option of sexOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select> -->
        </div>
      </div>
    </div>
  </form>
</div>