.client-add {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.client-add form {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
}
.client-add form .left {
  flex-grow: 1;
}
.client-add form .right {
  flex-grow: 1;
}
.client-add form span {
  font-size: 14px;
}
