<div class="basic-container">
  <nz-table nzBordered [nzCustomNoResult]="true">
    <tbody nz-tbody>
      <tr nz-tbody-tr>
        <td nz-td style="padding: 0;">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>導師HKTA ID：</span>
            </div>
            <div nz-col nzXXl="14" class="field-content">
              <span>{{basicInfo.id}}</span>
            </div>
          </div>
        </td>
        <td nz-td style="padding: 0;">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>導師狀況：</span>
            </div>
            <div nz-col  class="field-content">
              <span>{{basicInfo.status}}</span>
            </div>
          </div>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td style="padding: 0;">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>會員導師登入名稱：</span>
            </div>
            <div nz-col  class="field-content">
              <span *ngIf="!editStatus">{{basicInfo.nickName}}</span>
              <!-- <nz-select *ngIf="editStatus" style="width: 100%;padding-right: 10px;" [(ngModel)]="basicInfo.nickName" [nzPlaceHolder]="'選擇地址'">
                <nz-option *ngFor="let option of idOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                </nz-option>
              </nz-select> -->
              <nz-input *ngIf="editStatus" style="width: 100%;padding-right: 10px;" [(ngModel)]="basicInfo.nickName" [nzPlaceHolder]="'輸入會員導師登入名稱'"></nz-input>
            </div>
          </div>
        </td>
        <td nz-td style="padding: 0;">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>登記時間：</span>
            </div>
            <div nz-col  class="field-content">
              <span>{{basicInfo.loginTime}}</span>
            </div>
          </div>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td style="padding: 0;">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>暱稱或英文名：</span>
            </div>
            <div nz-col  class="field-content">
              <span *ngIf="!editStatus">{{basicInfo.enName}}</span>
              <!-- <nz-select *ngIf="editStatus" style="width: 100%;padding-right: 10px;" [(ngModel)]="basicInfo.enName" [nzPlaceHolder]="'選擇地址'">
                <nz-option *ngFor="let option of idOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                </nz-option>
              </nz-select> -->
              <nz-input *ngIf="editStatus" style="width: 100%;padding-right: 10px;" [(ngModel)]="basicInfo.enName" [nzPlaceHolder]="'輸入暱稱或英文名'"></nz-input>
            </div>
          </div>
        </td>
        <td nz-td style="padding: 0;">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>最後修改時間：</span>
            </div>
            <div nz-col  class="field-content">
              <span>{{basicInfo.lastTimeLogin}}</span>
            </div>
          </div>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td style="padding: 0;">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>黑名單原因：</span>
            </div>
            <div nz-col  class="field-content">
              <span *ngIf="!editStatus">{{basicInfo.blackListReason}}</span>
              <nz-input *ngIf="editStatus" style="width: 100%;padding-right: 10px;" [(ngModel)]="basicInfo.blackListReason" [nzPlaceHolder]="'輸入黑名單原因'"></nz-input>
            </div>
          </div>
        </td>
        <td nz-td style="padding: 0;">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>個案資料：</span>
            </div>
            <div nz-col  class="field-content">
              <nz-popover [nzTitle]="'個案匯總'" [nzPlacement]="'right'" >
                <span nz-popover>共有個案：{{basicInfo.caseNum}}</span>
                <ng-template #nzTemplate>
                  <div>
                    <p>進行中：{{basicInfo.caseInfo.doing}}</p>
                    <p>已完結：{{basicInfo.caseInfo.finish}}</p>
                    <p>共有個案：{{basicInfo.caseInfo.sum}}</p>
                    <p>實收學費低於$250：{{basicInfo.caseInfo.lower250}}</p>
                    <p>取消個案：{{basicInfo.caseInfo.canceled}}</p>
                  </div>
                </ng-template>
              </nz-popover>
            </div>
          </div>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td style="padding: 0;" colspan="3">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>接收電郵：</span>
            </div>
            <div nz-col>
              <span *ngIf="!editStatus">{{basicInfo.emailStatus}}</span>
              <nz-select *ngIf="editStatus" style="width: 200px;padding-right: 10px;" [(ngModel)]="basicInfo.emailStatus" [nzPlaceHolder]="'選擇是否接收電郵'">
                <nz-option *ngFor="let option of idOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                </nz-option>
              </nz-select>
            </div>
            <div nz-col>
              <p style="text-align: left;">(包括市場推廣及相關個案)</p>
            </div>
          </div>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td style="padding: 0;" colspan="3">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col nzXXl="10" class="field">
              <span>凍結/取消賬號：</span>
            </div>
            <div nz-col>
              <span *ngIf="!editStatus">{{basicInfo.cancelAccount}}</span>
              <nz-select *ngIf="editStatus" style="width: 200px;" [(ngModel)]="basicInfo.cancelAccount" [nzPlaceHolder]="'選擇是否接收電郵'">
                <nz-option *ngFor="let option of idOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                </nz-option>
              </nz-select>
            </div>
            <div nz-col nzXXl="10" style="margin-left: 10px;text-align: left;">
              <button nz-button nzGhost [nzType]="'primary'" >凍結/取消賬號</button>
            </div>
          </div>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td style="padding: 0;" colspan="2">
          <div nz-row style="display: flex;align-items: center;">
            <div nz-col [nzSpan]="4" class="field">
              <span>可教授科目：</span>
            </div>
            <div nz-col [nzSpan]="20" class="field-content">
              <div class="add-remove">
                <div class="remove" *ngIf="basicInfo.subjects.length > 0">
                  <div class="add-remove-item" *ngFor="let subject of basicInfo.subjects">
                    <button nz-button nzGhost [nzType]="'primary'" style="margin-right: 10px;" >除移</button>
                    <nz-select style="width: 100%;padding-right: 10px;" [(ngModel)]="subject.type" [nzPlaceHolder]="''">
                      <nz-option *ngFor="let option of typeOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                      </nz-option>
                    </nz-select>
                    <nz-select style="width: 100%;padding-right: 10px;" [(ngModel)]="subject.subject" [nzPlaceHolder]="''">
                      <nz-option *ngFor="let option of subjectOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                      </nz-option>
                    </nz-select>
                    <nz-select style="width: 100%;padding-right: 10px;" [(ngModel)]="subject.levelRangStart" [nzPlaceHolder]="''">
                      <nz-option *ngFor="let option of levelRangStartOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                      </nz-option>
                    </nz-select>
                    <p>至</p>
                    <nz-select style="width: 100%;padding-left: 10px;" [(ngModel)]="subject.levelRangEnd" [nzPlaceHolder]="''">
                      <nz-option *ngFor="let option of levelRangEndOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                      </nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="add">
                  <button nz-button nzGhost [nzType]="'primary'" style="margin-right: 10px;">新增</button>
                  <nz-select style="width: 100%;padding-right: 10px;" [(ngModel)]="addSubject.type" [nzPlaceHolder]="''">
                    <nz-option *ngFor="let option of typeOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                    </nz-option>
                  </nz-select>
                  <nz-select style="width: 100%;padding-right: 10px;" [(ngModel)]="addSubject.subject" [nzPlaceHolder]="''">
                    <nz-option *ngFor="let option of subjectOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                    </nz-option>
                  </nz-select>
                  <nz-select style="width: 100%;padding-right: 10px;" [(ngModel)]="addSubject.levelRangStart" [nzPlaceHolder]="''">
                    <nz-option *ngFor="let option of levelRangStartOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                    </nz-option>
                  </nz-select>
                  <p>至</p>
                  <nz-select style="width: 100%;padding-left: 10px;" [(ngModel)]="addSubject.levelRangEnd" [nzPlaceHolder]="''">
                    <nz-option *ngFor="let option of levelRangEndOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                    </nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>