.basic-container {
  border: 1px solid #d9d9d9;
}
.basic-container nz-table p {
  font-size: 14px;
  text-align: center;
}
.basic-container nz-table span {
  font-size: 14px;
  line-height: 42px;
  padding-left: 20px;
}
.basic-container .add-remove {
  border: 1px solid #d9d9d9;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.basic-container .add-remove .remove {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.basic-container .add-remove .remove .add-remove-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.basic-container .add-remove .add {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
