/* You can add global styles to this file, and also import other style files */
html, body, app-root {
    width: 100%;
    height: 100%;
    font-size: 68%;
}

html, body {
    margin: 0;
    padding: 0;
}

.ant-table-footer {
    background-color: white !important;
    box-sizing: border-box !important;
}

.ant-checkbox-wrapper {
    width: 20%;
    height: 36px;
    margin-left: 0 !important;
}

.ant-collapse-content-box {
    padding: 0 !important;
}

.ant-table-placeholder {
    border-bottom: none !important;
    padding: 0 !important;
}

.ui-state-active {
    border-color: #D5D5D5 !important;
}

a.ui-panelmenu-header-link {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.65) !important;
}

span.ui-menuitem-text {
    color: rgba(0, 0, 0, 0.65) !important;
}

a.ui-menuitem-link:hover {
    /* background-color: white !important; */
}

a.ui-menuitem-link:hover .ui-menuitem-text {
    color: #2399ed !important;
}

.active-panelMenu {
    /* background-color: red !important; */
    background-color: white;
    color: #2399ed;
}

.active-panelMenu span.ui-menuitem-text {
    /* color: #2399ed !important; */
}
