.select-teacher-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    .self-introduce {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-top: 10px;
        .self-introduce-title {
            width: 100%;
            height: auto;
            overflow: hidden;
            padding-bottom: 10px;
            p {
                width: 200px;
                background-color: #2399ed;
                font-size: 16px;
                color: white;
                line-height: 32px;
                text-align: center;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
            }
        }
        .self-introduce-list {
            .self-introduce-shortList {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                border-top: 1px solid #d9d9d9;
                border-bottom: 1px solid #d9d9d9;
                padding: 5px 0;
                button {
                    margin-right: 10px;
                }
            }
        }
    }
}

.ant-table-tbody > tr > td {
    padding: 0 !important;
}

.selected-info {
    width: 400px;
    height: auto;
    overflow: hidden;
    border: 1px solid #b3b3b3;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    .selected-head {
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
        border-bottom: 1px solid #e1e1e1;
        p {
            font-size: 14px;
            line-height: 42px;
        }
    }
    .selected-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .body-item {
            width: 50%;
            box-sizing: border-box;
            border-bottom: 1px solid #e1e1e1;
            text-align: left;
            padding-left: 10px;
            p {
                font-size: 14px;
                line-height: 42px;
            }
        }
        .body-left {
            border-right: 1px solid #e1e1e1;
        }
        .body-bottom {
            width: 100%;
            height: auto;
            overflow: hidden;
            text-align: left;
            padding-left: 10px;
            box-sizing: border-box;
            border-bottom: 1px solid #e1e1e1;
            p {
                font-size: 14px;
                line-height: 41px;
            }
        }
        .class-info {
            width: 100%;
            height: auto;
            overflow: hidden;
            padding-left: 10px;
            box-sizing: border-box;
            .first-class {
                width: 100%;
                display: flex;
                align-items: center;
                p {
                    font-size: 14px;
                    line-height: 42px;
                    flex-shrink: 0;
                }
            }
        }
    }
}