.remark-container {
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}
.remark-container .remark-edit {
  width: 100%;
  border: 1px solid #b3b3b3;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
}
.remark-container .remark-edit .remark-row1 {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}
.remark-container .remark-edit .remark-row1 p {
  font-size: 14px;
  line-height: 42px;
  flex-shrink: 0;
  margin: 10px;
}
.remark-container .remark-edit .remark-row1 button {
  margin: 10px;
}
.remark-container .remark-edit .remark-row2 {
  width: 100%;
  display: flex;
  align-items: center;
}
.remark-container .remark-edit .remark-row2 p {
  font-size: 14px;
  line-height: 42px;
  flex-shrink: 0;
  margin: 10px;
}
.remark-container .remark-edit .remark-row2 nz-datepicker {
  margin-right: 10px;
}
.remark-container .remark-table {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 1px solid #b3b3b3;
  margin-top: 20px;
}
.remark-container .delete {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.remark-container .delete button {
  display: block;
  margin: 0 auto;
}
