<form nz-form [formGroup]="fg">
  <nz-table #nzTable nzBordered [nzCustomNoResult]="true">
    <tbody nz-tbody>
      <tr nz-tbody-tr>
        <td nz-td class="item">
          主科
        </td>
        <td nz-td>
          <span>中國語文</span>
          <nz-select style="width: 120px;" formControlName="chinese" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
          <span>英國語文</span>
          <nz-select style="width: 120px;" formControlName="english" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
          <span>數學</span>
          <nz-select style="width: 120px;" formControlName="math" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="item">
          文科
        </td>
        <td nz-td>
          <div class="item-select">
          <span>中國文學</span>
          <nz-select style="width: 120px;" formControlName="chineseLiterature" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
          </div>
          <div class="item-select">
          <span>英國文學</span>
          <nz-select style="width: 120px;" formControlName="englishLiterature" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
          </div>
          <div class="item-select">
          <span>世界歷史</span>
          <nz-select style="width: 120px;" formControlName="worldHistory" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
          </div>
          <div class="item-select">
          <span>中國歷史</span>
          <nz-select style="width: 120px;" formControlName="chineseHistory" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
          </div>
          <div class="item-select">
          <span>地理</span>
          <nz-select style="width: 120px;" formControlName="geography" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
          </div>
          <div class="item-select">
          <span>音樂</span>
          <nz-select style="width: 120px;" formControlName="music" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
          </div>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="item">
          理科
        </td>
        <td nz-td>
          <div class="item-select">
            <span>化學</span>
            <nz-select style="width: 120px;" formControlName="chemistry" [nzPlaceHolder]="'choose option'" nzAllowClear>
              <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div class="item-select">
            <span>生物</span>
            <nz-select style="width: 120px;" formControlName="biology" [nzPlaceHolder]="'choose option'" nzAllowClear>
              <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div class="item-select">
            <span>物理</span>
            <nz-select style="width: 120px;" formControlName="physics" [nzPlaceHolder]="'choose option'" nzAllowClear>
              <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div class="item-select">
            <span>附加數學</span>
            <nz-select style="width: 120px;" formControlName="mathPlus" [nzPlaceHolder]="'choose option'" nzAllowClear>
              <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="item">
           商科
        </td>
        <td nz-td>
          <div class="item-select">
            <span>商業學</span>
            <nz-select style="width: 120px;" formControlName="bussniss" [nzPlaceHolder]="'choose option'" nzAllowClear>
              <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div class="item-select">
            <span>會計學</span>
            <nz-select style="width: 120px;" formControlName="account" [nzPlaceHolder]="'choose option'" nzAllowClear>
              <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div class="item-select">
            <span>經濟</span>
            <nz-select style="width: 120px;" formControlName="economic" [nzPlaceHolder]="'choose option'" nzAllowClear>
              <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div class="item-select">
            <span>電腦</span>
            <nz-select style="width: 120px;" formControlName="computer" [nzPlaceHolder]="'choose option'" nzAllowClear>
              <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div class="item-select">
            <span>打字</span>
            <nz-select style="width: 120px;" formControlName="press" [nzPlaceHolder]="'choose option'" nzAllowClear>
              <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
        </td>
      </tr>

      <tr nz-tbody-tr>
        <td nz-td class="itemz">
          <span>其他會考科目成績</span>
          <nz-select style="width: 220px;" formControlName="sex" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
        <td nz-td class="itemz">
          <span>其他高考/高補程度會考科目成績</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="itemz">
          <span>最高教育程度</span>
          <nz-select style="width: 220px;" formControlName="status" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
        <td nz-td class="itemz">
          <span>就讀小學</span>
          <nz-select style="width: 220px;" formControlName="passed" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="itemz">
          <span>就讀中學</span>
          <nz-select style="width: 220px;" formControlName="status" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
        <td nz-td class="itemz">
          <span>中學主要教學語言</span>
          <nz-select style="width: 220px;" formControlName="status" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="itemz">
          <span>就讀大學</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
        <td nz-td class="itemz">
          <span>其他大學</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="itemz">
          <span>高中修讀科目類別</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
        <td nz-td class="itemz">
          <span>大學主修科目</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="itemz">
          <span>其他修讀課程</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
        <td nz-td class="itemz">
          <span>其他專業認可課程</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="itemz">
          <span>現時就讀年級</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
        <td nz-td class="itemz">
          <span>香港中學會考分數（六科成績總分）</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
      </tr>
      <tr nz-tbody-tr>
        <td nz-td class="itemz">
          <span>香港中學會考主要應考語言</span>
          <nz-select style="width: 220px;" formControlName="highestGrade" [nzPlaceHolder]="'choose option'" nzAllowClear>
            <nz-option *ngFor="let option of levelOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </td>
      </tr>
    </tbody>
  </nz-table>
</form>